<a href="https://colab.research.google.com/github/thfruchart/tnsi-2020/blob/master/Chap05/Programmation_Fonctionnelle.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Diversité des paradigmes de programmation

###Pourquoi n'existe-t-il pas un seul langage de programmation? 

Les besoins des programmeurs sont différents selon le type de programme qu'ils écrivent : 
* pour écrire un `driver` d'une carte graphique, il est utile de programmer certaines instructions en **assembleur**, pour être au plus près des possibilités du matériel. 
* pour gérer une base de donnée relationnelle, un langage de plus haut niveau est nécessaire : **SQL** sera étudié dans un prochain chapitre.
* certains langages sont "généralistes", et permette de programmer un grand nombre d'applications. Python fait partie de ces langages généraliste, comme C++, Java...

### Quelques grandes familles de langages de programmation

* Impératif
* Orienté Objet
* Fonctionnel
* Concurrent
* Événementiel
* Orienté requêtes

=> Le langage **JavaScript**, présenté en classe de première, permet d'utiliser la programmation **événementielle** : `onclick`, `onmouseover`, `onkeypressed`...

=> **SQL** est un langage orienté **requêtes**. 


=> **Python** permet d'utiliser plusieurs de ces paradigmes :
* **impératif** : en manipulant des variables, qui sont sont créées, puis modifiées en exécutant des instructions comme les boucles (while, for,...)
* orienté **objet** : en définissant des objets possédant des attributs et des méthodes permettant de modifier certains attributs, etc... 
* programation **concurrente** (à voir dans un prochain chapitre) pour exécuter certaines instructions "en parallèle". 
* Certains modules de Python (comme `tkinter`) permettent une programmation **événementielle**.
* Enfin , la programmation **fonctionnelle** est étudiée dans ce chapitre
  * les fonctions y jouent un rôle essentiel
  * dans le paradigme fonctionnel, les données non modifiables jouent un rôle central.

#Fonctions passées en argument

En Python, il est possible de passer en argument des variables, mais aussi des fonctions !

Voir l'exemple ci-dessous.

In [ ]:
def tri(t):
    ''' trie le tableau t en place, par sélection'''
    for i in range(len(t)-1):
        m = i
        for j in range(i + 1, len(t)):
            if t[j] < t[m]:
                m = j
        t[i],t[m] = t[m],t[i]
    

t = [('John', 2002), ('Brian', 2001), ('Liz',2000),('Ann',2004)]

Qu'affichera le programme suivant?

In [ ]:
tri(t)
print(t)

[('Ann', 2004), ('Brian', 2001), ('John', 2002), ('Liz', 2000)]

Comment faire en sorte que les éléments du tableau soient triés par année de naissance ?

* modifier le code de la fonction tri
  * `t[j] < t[m]` remplacé par `t[j][1] < t[m][1]`



* inconvénient : la fonction tri ne peut plus fonctionner pour d'autres utilisations

On présente ci-dessous une autre solution, utilisant la programmation fonctionnelle.

In [ ]:
def tri(t, f): # ajout d'un paramètre f
    ''' trie le tableau t en place, par sélection, 
    en appliquant la fonction f aux valeurs du tableau'''
    for i in range(len(t)-1):
        m = i
        for j in range(i + 1, len(t)):
            if f(t[j]) < f(t[m]):  # comparaison avec la fonction f 
                m = j
        t[i],t[m] = t[m],t[i]

def deuxieme_elt(x :tuple)->int:
    '''renvoie le deuxième élément d'un tuple'''
    return x[1]


t = [('John', 2002), ('Brian', 2001), ('Liz',2000),('Ann',2004)]

Pour trier le tableau t, suivant l'année de naissance qui est stockée dans le deuxième élément de chaque tuple, il suffit d'écrire :

In [ ]:
tri(t, deuxieme_elt)
print(t)

[('Liz', 2000), ('Brian', 2001), ('John', 2002), ('Ann', 2004)]

## fonction anonyme : la commande `lambda`

Python permet de définir une fonction anonyme sans utiliser la commande `def`.

Voyons sur un exemple comment faire avec la commande `lambda`

In [ ]:
lambda x : x+1

In [ ]:
f = lambda x : x+1
print(f(5))

6

### Syntaxe : 

`lambda variable(s) : valeur`

* le mot clé lambda sert à définir une fonction anonyme
* les deux poins ` : ` séparent
  * la ou les **paramètres** de la fonction
  * la valeur **renvoyée** par la fonction

Exemple : la fonction deuxième élément 

    def deuxieme_elt(x:tuple)->int:
        '''renvoie le deuxième élément d'un tuple'''
        return x[1]
pourrait s'écrire :

In [ ]:
lambda x : x[1]

[=> Activité Papier](https://github.com/thfruchart/tnsi-2020/blob/master/Chap05/ACTIVIT%C3%89_PAPIER_1.ipynb)

### fonction tri avec argument nommé par défaut

In [13]:
def tri(t, f = lambda x:x): # argument f par défaut
    ''' trie le tableau t en place, par sélection, 
    en appliquant la fonction f aux valeurs du tableau'''
    for i in range(len(t)-1):
        m = i
        for j in range(i + 1, len(t)):
            if f(t[j]) < f(t[m]):  # comparaison avec la fonction f 
                m = j
        t[i],t[m] = t[m],t[i]

def deuxieme_elt(t:tuple)->int:
    '''renvoie le deuxième élément d'un tuple'''
    return t[1]


t = [('John', 2002), ('Brian', 2001), ('Liz',2000),('Ann',2004)]
# tri par année de naissance
tri(t,deuxieme_elt)  # ou tri(t,lambda x:x[1])
print(t)

# tri par ordre alphabétique de prénom
tri(t)
print(t)

[('Liz', 2000), ('Brian', 2001), ('John', 2002), ('Ann', 2004)]
[('Ann', 2004), ('Brian', 2001), ('John', 2002), ('Liz', 2000)]

Un exemple : fonction dérivée approchée par le taux d'accroissement

In [ ]:
def derive(f):
    h = 1e-7
    return lambda x : (f(x+h) - f(x))/h 


def carre(x):
    return x**2

In [ ]:
g = derive(carre)
print(g(3))

6.000000087880153

# Structures de données immuables

En programmation **impérative**, certaines commandes **modifient** les données qu'elles traitent. Ces données peuvent être des entiers, tableaux, dictionnaires...  
* t[i] = t[i]+1
* t.append(5)
* t.sort()

On dit que ces données sont **mutables**. 

Au contraire, en programmation **fonctionnelle**, l'exécution d'une fonction ne modifie pas les données manipulées, mais calcule un **nouveau résultat.**

Exemple de spécification et d'utilisation d'opérations sur les ensembles

### paradigme impératif
|fonction           |description|
| :--------------- :| :-------- :|
|  `cree_ensemble()` |  crée un ensemble vide de dates|
| `ajoute(v,s)`      | ajoute la date `v` dans l'ensemble `s`|


    s = cree_ensemble()
    ajoute(5,s)
    ajoute(6,s)


### paradigme fonctionnel
|fonction           |description|
| :--------------- :| :-------- :|
|  `cree_ensemble()` |  crée un ensemble vide de dates|
| `ajoute(v,s)`      | renvoie un nouvel ensemble contenant la date `v` ainsi que tous les éléments de l'ensemble `s`|


    s = cree_ensemble()
    s = ajoute(5,s)
    s = ajoute(6,s)

Remarque : la programmation orientée objet permet de choisir la manière de traiter les données : mutables ou immuables. 

Par exemple, pour définir l'union de deux ensembles, on écrira
`a.union(b)`

* données **immuables** :  les ensembles a et b ne seront pas modifiés par l'exécution de `a.union(b)`. Au contraire, cette méthode devra renvoyer un nouvel ensemble contenant tous les élements de a réunis avec ceux de b. 
* données **mutables** :  il est possible que l'exécution de `a.union(b)` ajoute les éléments de `b` directement dans l'ensemble `a`, qui s'en trouve modifié. 
  * ceci n'est pas sans inconvénient... par exemple lorsqu'il s'agit de tester si `a.union(b.union(c))==c.union(b.union(a))`

## Python permet de mélanger les paradigmes

Suivant les cas, les programmeurs peuvent choirir un paradigme plutôt qu'un autre. Notons que python propose, pour le type `list`, les méthodes suivantes : 

* `t.sort()`
* `sorted(t)`

In [ ]:
t = [30,20,50]
print(t.sort())
print(t)

None
[20, 30, 50]

In [ ]:
t = [30,20,50]
print(sorted(t))
print(t)

[20, 30, 50]
[30, 20, 50]